body{
	// background-image: url('http://unsplash.it/1000x100');
	font-family: 'Open Sans', sans-serif;
	background-color: #E8E8E8;
}

#logo{
	width: 100px;
}

.list-inline{
	list-style: none;
}

.list-inline > li{
	display: inline-block;
	margin-left: 20px;
	margin-right: 20px;
}

.container{
	background-color: white;
	// margin: 20px auto;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: auto;
	width: 500px;
	text-align: center;
	margin-right: auto;
	padding: 20px;
	padding-bottom: 10px;
	border-radius: 3px;
	border: 1px solid rgba(0, 0, 0, 0.1);
}
a {
  color: red;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6{
	font-family: 'Raleway', sans-serif;
}

// h1{
// 	color: rgba(0, 0, 245, 0.5);
// 	padding: 15px;
// 	padding-bottom: 20px;
// 	margin-top: 20px;
// 	background-color: green;
// }

h2{
	color: green;
	font-size: 20px;
	font-family: Arial;
}

#banner h6{
	background-color: green;
}